@import "../../../styles/variables";
@import "../../../styles/section";

:host{
    table{
        width: 100%;
        border-collapse: collapse;
        thead{
            tr{
                border-bottom: 1px solid $purple;
            }
        }
        th, td{
            text-align: left;
            padding: 0.5rem;
        }
        tr{
            &:nth-child(even){
                background-color: lighten($purple, 57%);  
            }
            &:hover{
                background-color: lighten($seafoam, 40%);
                cursor: pointer;
            }
        }
    }
}