<section>
  <div class="active-elections">
    <div class="section-head">
      <h2>Active Elections</h2>
      <button [routerLink]="'/admin/election/new'">Create New</button>
    </div>
    <div class="no-data" *ngIf="activeElections.length <= 0">
      <p>There arent any upcoming elections, maybe create one?</p>
    </div>
    <table *ngIf="activeElections.length > 0">
      <thead>
        <tr>
          <th>Election Name</th>
          <th>Ballots Collected</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let election of activeElections" [routerLink]="'/admin/election/details/' + election.id">
          <td>
            <div class="new" *ngIf="election.newish">
              <i class="fas fa-pennant"></i>
              <span>NEW</span>
            </div>
            {{election.name}}
          </td>
          <td>{{election.ballotsCollected}}</td>
          <td>{{election.startDate | date}}</td>
          <td>{{election.endDate | date}}</td>
          <td>
            <button *ngIf="!election.ballot" [routerLink]="'/admin/ballot/' + election.id">Add Ballot</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="future-elections">
      <div class="section-head">
        <h2>Future Elections</h2>
        <button [routerLink]="'/admin/election/new'">Create New</button>
      </div>
      <div class="no-data" *ngIf="futureElections.length <= 0">
        <p>There arent any upcoming elections, maybe create one?</p>
      </div>
      <table *ngIf="futureElections.length > 0">
        <thead>
          <tr>
            <th>Election Name</th>
            <th>Ballots Collected</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let election of futureElections" [routerLink]="'/admin/election/details/' + election.id">
            <td>
              <div class="new" *ngIf="election.newish">
                <i class="fas fa-pennant"></i>
                <span>NEW</span>
              </div>
              {{election.name}}
            </td>
            <td>{{election.ballotsCollected}}</td>
            <td>{{election.startDate | date}}</td>
            <td>{{election.endDate | date}}</td>
            <td>
              <button *ngIf="!election.ballot" [routerLink]="'/admin/ballot/' + election.id">Add Ballot</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <div class="finished-elections">
    <div class="section-head">
      <h2>Finished Elections</h2>
    </div>
    <div class="no-data" *ngIf="pastElections.length <= 0">
        <p>You havent completed an election yet, let's create one?</p>
      </div>
    <table *ngIf="pastElections.length > 0">
      <thead>
        <tr>
          <th>Election Name</th>
          <th>Ballots Collected</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let election of pastElections" [routerLink]="'/admin/election/details/' + election.id">
          <td>{{election.name}}</td>
          <td>{{election.ballotsCollected}}</td>
          <td>{{election.startDate | date}}</td>
          <td>{{election.endDate | date}}</td>
          <td>
            <button *ngIf="!election.ballot" [routerLink]="'/admin/ballot/' + election.id">Add Ballot</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>