@import "../../../styles/variables";

:host{
    background-color: $purple;
    color: $white;
    display: block;
    display: block;
    min-height: 100vh;
    width: 100%;
    section{
        max-width: 400px;
        text-align: center;
        margin: 3rem auto;
        .fa-thumbs-up{
            font-size: 5rem;
        }
    }
}