@import "../../../styles/variables";
@import "../../../styles/section";

:host{
    form{
        .row{
            &:last-of-type{
                text-align: right;
            }
        }
        my-date-range-picker{
            margin-bottom: 1rem;
            display: block;          
        }
    }
    .new-election{
        max-width: 600px;
        margin: 3rem auto;
    }
}