<app-back></app-back>
<section>
  <div class="election-details">
    <div class="section-head">
      <h2>{{election.name}}</h2>
      <button [routerLink]="'/vote/' + election.id" *ngIf="isEditable()">View Election</button>
    </div>
    <p>Created On: {{election.created | date}}</p>
    <p>Running Dates: {{election.dateRange.beginJsDate | date}} - {{election.dateRange.endJsDate | date}}</p>
    <p>Private: {{election.private ? 'Yes' : 'No'}}<br />Code: {{election.private ? election.code : 'N/A'}}</p>
  </div>
</section>
<section>
  <div class="ballot-details">
    <div class="section-head">
      <h2>Election Results</h2>
    </div>
    <div *ngIf="!results.length" class="no-results">
      <p>There aren't any results at this time, check back later.</p>
    </div>
    <div *ngIf="results.length > 0">
      <div class="graph-wrapper" *ngFor="let q of election.ballot; let i = index;">
        <h3>{{q.question}}</h3>
        <app-graph-bar [index]="i" [ballot]="q" [results]="results" *ngIf="q.questionType === 'select-one' || q.questionType === 'select-n'"></app-graph-bar>
        <app-graph-line [index]="i" [ballot]="q" [results]="results" *ngIf="q.questionType === 'select-ranked'"></app-graph-line>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="ballot-details">
    <div class="section-head">
      <h2>Ballot Details</h2>
      <button [routerLink]="'/admin/ballot/' + election.id" *ngIf="isEditable() && election.ballot">Edit</button>
    </div>
    <div *ngIf="!election.ballot" class="no-ballot">
      <p>There is no ballot for this election please add one.</p>
      <button [routerLink]="'/admin/ballot/' + election.id">Add a Ballot</button>
    </div>
    <div *ngIf="election.ballot">
      <app-ballot [election]="election"></app-ballot>
    </div>
  </div>
</section>