h3{
    font-weight: 700;
    padding-top: 2rem;
}
.project{
    position: relative;
    padding-bottom: 3rem;
    &:last-of-type{
        padding-bottom: 0;
    }
    .devices{        
        text-align: center;
        app-laptop{
            font-size: 8px;
            display: inline-block;
            &+app-iphone{
                margin-left: 1rem;
            }
            @media screen and (max-width: $tablet) {
                font-size: 4px;
            }
            @media screen and (max-width: $big-phone) {
                font-size: 3px;
            }
        }
        app-iphone{
            font-size: 4px;
            display: inline-block;
            &+app-laptop{
                margin-left: 1rem;
            }
            @media screen and (max-width: $tablet) {
                font-size: 1.8px;
            }
            @media screen and (max-width: $big-phone) {
                font-size: 1.5px;
            }
        }
        &.laptop-only{
            app-laptop{
                font-size: 11px;
                @media screen and (max-width: $tablet) {
                    font-size: 8px;
                }
                @media screen and (max-width: $big-phone) {
                    font-size: 4px;
                }
            }
        }
        &.just-phones-3{
            app-iphone{
                font-size: 8px;
                padding-right: 1rem;
                @media screen and (max-width: $tablet) {
                    font-size: 5px;
                }
                @media screen and (max-width: $big-phone) {
                    font-size: 3px;
                }
            }
        }
        &.just-phones-4{
            app-iphone{
                font-size: 6px;
                padding-right: 1rem;
                @media screen and (max-width: $tablet) {
                    font-size: 4px;
                }
                @media screen and (max-width: $big-phone) {
                    font-size: 2px;
                }
            }
        }
    }
    .tech{
        p{
            font-size: 0.75rem;
            a{
                font-size: 1rem;
                padding-right: 0.25rem;
            }
            span{
                font-weight: normal;
                display: block;
                font-size: 0.6rem;
                color: lighten($charcoal, 30%);
                padding-top: 0.25rem;
            }
            &:first-child{
                a{
                    font-size: 1.5rem;
                }
            }
            &:nth-child(2){
                a{
                    font-size: 0.75rem;
                }
            }
        }

    }
    em{
        font-style: normal;
    }
    span{
        &:hover{
            cursor: pointer;
        }
    }
    .fa-angular{
        color: #BC0031;
    }
    .heroku{
        color: #8260A8;
    }
    .fa-node{
        color: #6CA065;
    }
    .fa-html5{
        color: #DD402C;
    }
    .fa-css3{
        color: #257ABB;
    }
    .fa-sass{
        color: #CA5F99;
    }
    .fa-github{
        color: #F1C8B2;
    }
    .contentful{
        color: #5EB8DE;
    }
    .fa-dropbox{
        color: #2768FB;
    }
    .sendinblue{
        color: #459BD9;
    }
    .express{
        color: #259dff;
    }
    .twilio{
        color: #E80038;
    }
    .mandrill{
        color: #634E45;
    }
    &:after{
        content: '';
        position: absolute;
        width: 50%;
        height: 1px;
        background-color: $seafoam;
        display: block;
        margin: 0.825rem 0 0 0;
    }
    &:last-of-type{
        &:after{
            display: none;
        }
    }
}