@import "8pt-grid";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

// Colors
$purple: #694A87;
$seafoam: #29FFB8;
$white: #FFF;
$charcoal: #343434;
$danger: #DB0000;

//Break Points
$small-phone: 360px;
$big-phone: 736px;
$tablet: 1024px;