<app-header></app-header>
<section>
  <h1>Secure digital voting made easy.</h1>
  <div class="row marketing">
    <div class="col-3">
      <p><i class="fas fa-shield-check"></i></p>
      <p>Biodiesel kale chips distillery, vaporware roof party fam migas cold-pressed. Yuccie banjo asymmetrical flannel, pok pok 90's direct trade chambray chicharrones tbh succulents mixtape la croix YOLO kombucha. Before they sold out actually biodiesel, forage tousled.</p>
    </div>
    <div class="col-3">
      <p><i class="fas fa-balance-scale"></i></p>
      <p>Air plant 3 wolf moon iPhone irony. Fanny pack microdosing vegan chicharrones VHS try-hard succulents yuccie kale chips narwhal normcore single-origin coffee direct trade jianbing. Man braid pug semiotics roof party gluten-free.</p>
    </div>
    <div class="col-3">
      <p><i class="fas fa-chart-pie"></i></p>
      <p>Taiyaki artisan tumblr williamsburg seitan, bicycle rights DIY cold-pressed poke palo santo celiac. Celiac cloud bread bespoke meh, XOXO bicycle rights brooklyn single-origin coffee craft beer readymade. Dreamcatcher locavore venmo pug salvia.</p>
    </div>
  </div>
  <div class="election-code">
    <p>We don't have any public elections running, do you have a private election code?</p>
    <label>Election Code</label>
    <input type="text" name="code" />
    <button>Start Voting</button>
  </div>
</section>
<app-footer></app-footer>