@import "../../../styles/variables";

 :host{
     display: block;
     background-color: $purple;
     height: 100%;
     widows: 100%;
     color: $white;
     h1{
         text-align: center;
         &+p{
             text-align: center;
             padding-bottom: 3rem;
             margin-top: -0.5rem;
         }
     }
     .election-code{
         max-width: 300px;
         margin: 0 auto;
         p{
             text-align: center;
         }
         label, input, button{
            display: block;
            width: 100%;
         }
         label{
            font-weight: 300;
            margin-bottom: 0.25rem;
         }
         input{
            text-transform: uppercase;
         }
         button{
             color: $white;
             border-color: $white;
         }
     }
 }