@import "../../../styles/variables";

:host{
    display: block;
    background-color: $purple;
    min-height: 100vh;
    width: 100%;
    color: $white;
    padding-bottom: 3rem;
    h1{
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        margin: 3rem 0;
    }
    .marketing{
        p{
            &:first-of-type{
                text-align: center;
                font-size: 4rem;
            }
        }
    }
    .election-code{
        max-width: 320px;
        margin: 3rem auto;
        border: 3px solid darken($purple, 5%);
        border-radius: 0.25rem;
        padding: 1rem;
        p{
            text-align: center;
            font-weight: normal;
        }
        button{
            display: block;
            width: 100%;
        }
        input{
            text-transform: uppercase;
        }
        button{
            color: $white;
            border-color: $white;
            &:hover{
                color: $seafoam;
                border-color: $seafoam;
            }
        }
        .validation{
            margin: -0.75rem 0 1rem 0;
            span{
                font-size: 0.75rem;
                font-weight: 300;
                color: #FFC2C2;
            }
        }
    }
    @media screen and (max-width: $big-phone) {
        h1{
            font-size: 2.5rem;
            margin: 1.5rem;
        }
        
    }
}