<app-back></app-back>
<section>
  <div class="ballot">
    <div class="section-head">
      <h2>Ballot: {{election.name}}</h2>
    </div>
    <div class="row">
      <div class="col-2 questions">
        <h3>Questions</h3>
        <ol>
          <li *ngFor="let q of election.ballot; let i = index">{{q.question}}
            <div class="controls">
              <button (click)="editQuestion(i)" [disabled]="edit || adding" class="edit">Edit</button>
              <button (click)="deleteQuestion(i)" [disabled]="edit || adding">Delete</button>
              <button (click)="moveUp(i)" [disabled]="edit || adding"><i class="fas fa-arrow-alt-up"></i></button>
              <button (click)="moveDown(i)" [disabled]="edit || adding"><i class="fas fa-arrow-alt-down"></i></button>
            </div>
          </li>
        </ol>
      </div>
      <div class="col-6">
        <div class="no-ballot" *ngIf="!adding">
          <button (click)="adding = true">Add a Question</button>
        </div>
        <form #f="ngForm" novalidate [ngClass]="{submitted: submitted, shake: submitted && f.invalid || error}">
          <div class="new-questions" *ngIf="adding">
            <div class="row">
              <div class="col-8">
                <label for="question">Question</label>
                <input type="text" id="question" name="question" ngModel #question="ngModel" [(ngModel)]="model.question" [ngClass]="{shake: question.invalid && question.touched }" class="form-control" required>
                <div class="validation" *ngIf="(question.invalid && question.touched) || (question.invalid && submitted)">
                  <span>A question is required.</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <label for="questionType">Question Type</label>
                <select type="text" id="questionType" name="questionType" ngModel #questionType="ngModel" [(ngModel)]="model.questionType" [ngClass]="{shake: questionType.invalid && questionType.touched }" required>
                  <option value="select-one">Select One</option>
                  <option value="select-n">Select (n)</option>
                  <option value="select-ranked">Ranked</option>
                </select>
                <div class="validation" *ngIf="(questionType.invalid && questionType.touched) || (questionType.invalid && submitted) ">
                  <span>An question type is required.</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="option1">Option 1</label>
                <input type="text" id="option1" name="option1" ngModel #option1="ngModel" [(ngModel)]="model.options.option1" [ngClass]="{shake: option1.invalid && option1.touched }" required>
                <div class="validation" *ngIf="(option1.invalid && option1.touched) || (option1.invalid && submitted) ">
                  <span>An option is required.</span>
                </div>
              </div>
            </div>
            <div class="row" *ngFor="let opt of options; let i = index">
              <div class="col-6">
                <label for="option{{i+2}}">Option {{i+2}}</label>
                <input type="text" id="option{{i+2}}" name="option{{i+2}}" ngModel #option{{i+2}}="ngModel" [(ngModel)]="model.options['option' + (i+2)]" required>
              </div>
              <div class="col-2 remove">
                <button (click)="removeOption(i)" class="ghost">Remove</button>
              </div>
            </div>
            <div class="row">
              <div class="col-6 add">
                <button (click)="addOption()" class="ghost">Add Option</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row save">
      <div class="col-8">
        <button (click)="cancel()" class="ghost" [disabled]="!(adding || edit || pendingChanges)">Cancel</button>
        <button (click)="onSubmit()" [disabled]="!(adding || edit || pendingChanges)">Save</button>
      </div>
    </div>
  </div>
</section>
<section>
  <p>{{model.questionType}}</p>
</section>
<section>
  <div class="ballot-preview">
    <div class="section-head">
      <h2>Ballot Preview</h2>
    </div>
    <app-ballot [election]="election"></app-ballot>
  </div>
</section>