<section>
  <div class="ballot">
    <div class="section-head">
      <h2>Ballot: {{election.name}}</h2>
    </div>
    <div class="question-types">
      <button (click)="addQuestion('select-one')">Add a Select One</button>
      <button (click)="addQuestion('select-n')">Add a Select (n)</button>
      <button (click)="addQuestion('select-multiple')">Add a Select Multiple</button>
    </div>
    <div class="new-questions">
      
    </div>

  </div>
</section>
<section>
  <div class="ballot-preview">
    <div class="section-head">
      <h2>Ballot Preview</h2>
    </div>
  </div>
</section>